<div class="login-body-left-container border" style="float:right; width: 80%;height:100%;">
    <div class="login-body-left-top-box border" style="height: 100px">
        {% include "AppBundle:elements:login/body/body-left/body-left-top/subtitle.html.twig" %}
    </div>
    <div class="login-body-left-bottom-box border" style="height: 474px">
        {% include "AppBundle:elements:login/body/body-left/body-left-bottom/two_by_two.html.twig" %}
    </div>
</div>