<div class="login-body-left-container" style="width: 100%;height:100%;">
    <div class="login-body-left-top-box">
        {% include "AppBundle:elements:login/body/body-left/body-left-top/heading.html.twig" %}
    </div>
    <div class="login-body-left-bottom-box pull-right " style="height: 470px">
        {% include "AppBundle:elements:login/body/body-left/body-left-bottom/two_by_two.html.twig" %}
    </div>
</div>