<div class="login-body-container" style="margin-left: auto; margin-right: auto; width: 980px; height: 580px;">
    <div class="login-body-left " style="width:550px;height:100%;display: inline-block;">
        {% include "AppBundle:layout:login/body/body-left/body-left.html.twig" %}
    </div>
    <div class="login-body-right" style="float:right;width:390px;height:100%;">
        {% include "AppBundle:layout:login/body/body-right/body-right.html.twig" %}
    </div>
</div>