<div class="dz-preview dz-image-preview status-preview-content">
    <div class="dz-details">
        <img class="img-responsive mar-no" data-dz-thumbnail />
        <a href="#" class="status-preview-dismiss" data-dz-remove><i class="fa fa-times fa-fw fa-lg text-muted"></i></a>
    </div>
</div>