<!-- header -->
<div class="cls-header cls-header-lg">
    <div class="cls-brand">
        <a class="box-inline" href="#">
            <!-- <img alt="Site logo" src="img/logo.png" class="brand-icon"> -->
            <span class="brand-title">{{ 'site.name'|trans({}, 'SiteName') }}</span>
        </a>
    </div>
</div>