<footer id="footer" style="height:30px;"> {# <--give a fixed width or max-width for having a fixed style #}
    <p class="pad-lft">{{ 'label.copyright'|trans({'%year%': 2015},"Elements") }} &#0169;</p>
</footer>
