<div class="loginGuide-body border bg-pure-black" style="min-width: 1024px; height: 704px;">
    <div class="loginGuide-body-container" style="margin: 50px auto 0px auto; width: 980px; height: auto; overflow: hidden;">
        {% block loginGuide_body %}{% endblock %}
    </div>
</div>