{% extends "::base.html.twig" %}

{% trans_default_domain 'Elements' %}

{% block title %}Forgot password{% endblock %}

{% block stylesheets %}
    <link href="{{ asset('css/bg-image.css') }}" rel="stylesheet">
{% endblock %}

{% block body %}
    <div id="container" class="cls-container">
        <!-- background image -->
        {% include 'AppBundle:elements:bg-image.html.twig' with {imageClass: 'img-balloon'}%}

        <!-- header -->
        {% include 'AppBundle:elements:header.html.twig' %}

        <div class="cls-content">
            {# forgot password #}
            {% include 'AppBundle:elements:forgot-password.html.twig' with {additionalClass: 'cls-content-sm'} %}
            <div class="pad-ver">
                <a href="{{ path('fos_user_security_login') }}" class="btn-link mar-rgt">{{ 'link.back_to_login'|trans }}</a>
            </div>
        </div>
    </div>
{% endblock %}
