{% extends "::base.html.twig" %}

{% trans_default_domain 'Elements' %}

{% block stylesheets %}
    {% stylesheets
        '@chosen_css'
        '@fullcalendar_css'
        '@bootstrap_datepicker_css'
        '@detail_css'
    %}
        <link rel="stylesheet" href="{{ asset_url }}" />
    {% endstylesheets %}
{% endblock %}

{% block body %}
    <div id="container" class="effect navbar-fixed mainnav-out">
        {# navbar #}
        {% include 'AppBundle:elements:navbar/lobby-navbar.html.twig' with {
            writeStatus: 'invisible',
            mainnav: 'invisible',
            girl: 'invisible',
            submitDetails: 'visible'
        } %}

        {# content #}
        <div class="boxed">
            <div id="content-container">
                <div id="page-content" class="row">
                    {# show empty message #}
                    {% if detail|default(null) is null %}
                        <div class="text-center pad-all text-white center-block girl-profile-wrapper">
                            <h1>Good Day</h1>
                            <p class="text-2x mar-btm">Girls are the key to success, and to enter guest's heart</p>
                            <button class="btn btn-info btn-large"><span class="text-2x">Add new girl</span></button>
                        </div>
                    {% else %}
                        {% include 'AppBundle:elements:girl/detail-form.html.twig' with {
                            detail: detail
                        } %}
                    {% endif %}
                </div>
            </div>
        </div>

        {# scroll to top #}
        <button id="scroll-top" class="btn"><i class="fa fa-chevron-up"></i></button>
    </div>
{% endblock %}

{% block javascripts %}
    {% javascripts
        '@chosen'
        '@moment'
        '@fullcalendar'
        '@jssor'
        '@jssor_slider'
        '@boostrap_datepicker'
        '@detail'
    %}
        <script src="{{ asset_url }}"></script>
    {% endjavascripts %}
{% endblock %}