{% extends "::base.html.twig" %}

{% block stylesheets %}
    {% stylesheets
        '@dropzone_css'
        '@hometime_line_css' %}
        <link rel="stylesheet" href="{{ asset_url }}" />
    {% endstylesheets %}
{% endblock %}

{% block body %}
    <div id="container" class="effect slide aside-in aside-left mainnav-out navbar-fixed">
        {# navbar #}
        {% include 'AppBundle:elements:navbar/lobby-navbar.html.twig' with {
            writeStatus: 'invisible'
        } %}

        {# content #}
        <div class="boxed">
            <div id="content-container">
                <div id="page-content">
                    {% include 'AppBundle:elements:alert/new-status.html.twig' %}

                    <div id="card-container" class="mar-no">
                        {% include 'AppBundle:elements:cards/status-form.html.twig' with {additionalClass: 'stamp'} %}
                        {% include 'AppBundle:elements:cards/lobby-cards.html.twig' %}
                    </div>

                    {# classic feed view #}
                    {#{% include 'AppBundle:elements:status/statuses.html.twig' %}#}
                </div>
            </div>
        </div>

        {% include 'AppBundle:elements:navbar/mainnav.html.twig' %}

        {# aside bar - user profile #}
        {% include 'AppBundle:elements:aside-bar/user-profile.html.twig' with {
            name: 'Lucy Moon',
            followings: 1345,
            followers: 23456,
            aboutMe: 'Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat.'
        } %}


        {# footer #}
        {#{% include 'AppBundle:elements:footer.html.twig' %}#}

        {# scroll to top #}
        <button id="scroll-top" class="btn"><i class="fa fa-chevron-up"></i></button>
    </div>
{% endblock %}

{% block javascripts %}
    {% javascripts
        '@isotope'
        '@dropzone'
        '@hometime_line' %}
        <script src="{{ asset_url }}"></script>
    {% endjavascripts %}
{% endblock %}