{% extends "::base.html.twig" %}

{% trans_default_domain 'Elements' %}

{% block stylesheets %}
    {% stylesheets
        '@dropzone_css'
        '@lobby_css' %}
        <link rel="stylesheet" href="{{ asset_url }}" />
    {% endstylesheets %}
{% endblock %}

{% block body %}
<div id="container" class="effect navbar-fixed mainnav-out">
    {# navbar #}
    {% include 'AppBundle:elements:navbar/lobby-navbar.html.twig' with {
        girl: 'visible'
    } %}

    {# content #}
    <div class="boxed">
        <div id="content-container">
            <div id="page-content">
                {% include 'AppBundle:elements:alert/new-status.html.twig' %}

                <div id="card-container" class="mar-no">
                    {% include 'AppBundle:elements:cards/status-form.html.twig' with {additionalClass: 'hidden stamp'} %}
                    {% include 'AppBundle:elements:cards/lobby-cards.html.twig' %}
                </div>
            </div>
        </div>
    </div>

    {% include 'AppBundle:elements:navbar/mainnav.html.twig' %}

    {# scroll to top #}
    <button id="scroll-top" class="btn"><i class="fa fa-chevron-up"></i></button>
</div>
{% endblock %}

{% block javascripts %}
    {% javascripts
        '@isotope'
        '@dropzone'
        '@lobby' %}
        <script src="{{ asset_url }}"></script>
    {% endjavascripts %}
{% endblock %}