{% trans_default_domain 'Elements' %}

<div id="image" class="stamp bg-dark {{ hidden|default('') }}">
    <form id="form-image-dropzone" action="#" class="dropzone">
        {# image preview #}
        <div id="image-preview-zone">
            {# TODO: modify the prevew page #}
            <div class="dz-preview dz-file-preview">
                <div class="dz-details">
                    <div class="dz-filename"><span data-dz-name></span></div>
                    <div class="dz-size" data-dz-size></div>
                    <img data-dz-thumbnail />
                </div>
                <div class="dz-progress"><span class="dz-upload" data-dz-uploadprogress></span></div>
                <div class="dz-success-mark"><span>✔</span></div>
                <div class="dz-error-mark"><span>✘</span></div>
                <div class="dz-error-message"><span data-dz-errormessage></span></div>
            </div>
        </div>

        {# show message #}
        <div class="dz-default dz-message">
            <div class="dz-icon icon-wrap icon-circle icon-wrap-md">
                <i class="fa fa-cloud-upload fa-3x"></i>
            </div>
            <div>
                <p class="dz-text">{{ 'tip.drop_file_to_upload'|trans }}</p>
                <p class="text-muted pad-ver-10">{{ 'tip.or_click_to_pick_manually'|trans }}</p>
            </div>
        </div>

        {# it will fall back here if browser doesn't support #}
        <div class="fallback">
            {# TODO: customize it as same as drop zone #}
            <input name="file" type="file" multiple />
        </div>
    </form>
</div>