{% trans_default_domain 'Elements' %}

<div id="status-form-container" class="panel panel-colorful bg-gray-dark {{ additionalClass }}">
    <div class="panel-body">
        <form id="status-form" action="#" class="form-horizontal" method="post">
            <div class="form-group mar-no">
                <textarea class="form-control status-textarea" rows="3" placeholder="{{ 'placeholder.status'|trans }}"></textarea>

                {# image preview #}
                <div class="clearfix bg-gray sf-photo-priview">
                    <div id="status-preview">
                        {% include 'AppBundle:elements:compact-image-preview.html.twig' %}
                    </div>
                </div>

                {# footer tool bar #}
                <div id="footer-toolbar" class="mar-top">
                    <button id="sf-add-photo" class="btn btn-md btn-default btn-hover-default" type="button"><i class="fa fa-camera fa-lg fa-fw"></i> {{ 'tip.add_photo'|trans }}</button>
                    <button id="sf-submit" class="btn btn-md btn-primary pull-right" type="submit"><i class="fa fa-pencil fa-fw"></i> {{ 'button.share'|trans }}</button>
                </div>
            </div>
        </form>
    </div>
</div>