<div id="alert-new-status" class="alert alert-dark media fade in {{ addtionalClass|default('') }}">
    <div class="media-left">
        <span class="icon-wrap icon-wrap-xs icon-circle alert-icon">
            <i class="fa fa-bell fa-lg"></i>
        </span>
    </div>
    <div class="media-body">
        <h4 class="alert-title">Notification</h4>
        <p class="alert-message">198 new statuses are waiting for you</p>
    </div>
</div>