<html class="" lang="en">
<head>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="../layout.css">
</head>
<body>
<div style="min-width: 1024px; min-height: 768px;">
    <div class="lobby-header border" style="height: 60px;">
        <div class="user-photo border" style="width: 60px; height: 60px; display: inline-block; float: left"></div>
        <div class="search-bar border" style="margin: 5px 0px; width: 500px; height: 50px; display: inline-block;"></div>
        <div class="logout border" style="width: 60px; height: 58px; display: inline-block; float: right"></div>
    </div>
    <div class="lobby-cover-container border" style="height: 220px"></div>
    <div class="lobby-body border"></div>
</div>
</body>
</html>