{% extends "AppBundle:layout:loginGuide/share/page-body/pageBody.html.twig" %}

{% block loginGuide_body %}
    <div class="loginGuide-body-left border" style="display: inline-block; float: left;width: 50%;">
        {% include "AppBundle:layout:loginGuide/page1/page-body/page1-left/page1-left.html.twig" %}
    </div>
    <div class="loginGuide-body-right border" style="display: inline-block; float: left;width: 50%;">
        {% include "AppBundle:layout:loginGuide/page1/page-body/page1-right/page1-right.html.twig" %}
    </div>
{% endblock %}