<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />

        {% stylesheets
            '@boostrap_css'
            '@nifty_css'
            '@nifty_theme_dark_css'
            '@site_css'
            '@pace_css'
            '@fontawesome_css'
            '@animate_css'
        %}
            <link rel="stylesheet" href="{{ asset_url }}" />
        {% endstylesheets %}
        {#<link href="{{ asset('plugins/animate.css-3.2.3/animate.css') }}" rel="stylesheet">#}

        {% block stylesheets %}{% endblock %}
        <title>{% block title %}Welcome!{% endblock %}</title>
    </head>

    <body class="bg-black">
        {% block body %}{% endblock %} {# <-wrap this block with a fixed width or max-width for having a fixed style #}

        {% javascripts
            '@jquery'
            '@bootstrap_js'
            '@fastclick'
            '@pace'
            '@nifty' %}
            <script src="{{ asset_url }}"></script>
        {% endjavascripts %}

        <script>
            $(function() {
                FastClick.attach(document.body);
            });
        </script>
        {% block javascripts %}{% endblock %}
    </body>
</html>


