{% trans_default_domain 'Elements' %}
<a href="#" class="navbar-brand">
    <img src="{{ asset('img/logo.png ') }}" alt="{{ 'alt.logo'|trans() }}" class="brand-icon">
    <div class="brand-title">
        <span class="brand-text">{{ 'site.name'|trans({}, 'SiteName') }}</span>
    </div>
</a>