<header id="navbar" >
    <div id="navbar-container" class="boxed"> {# <--give a fixed width or max-width for having a fixed style #}
        {# brand name and logo #}
        <div class="navbar-header">
            {% include 'AppBundle:elements:navbar/brand-name.html.twig' %}
        </div>

        {# navbar #}
        <div class="navbar-content clearfix">
            {% include 'AppBundle:elements:navbar/inline-tools.html.twig' with {direction: 'pull-left'} %}

            {% include 'AppBundle:elements:navbar/user-dropdown.html.twig' with {direction: 'pull-right'} %}
        </div>
    </div>
</header>
