<!--MAIN NAVIGATION-->
<!--===================================================-->
<nav id="mainnav-container">
    <div id="mainnav">
        <!--Menu-->
        <!--================================-->
        <div id="mainnav-menu-wrap">
            <div class="nano">
                <div class="nano-content">
                    <!--Widget-->
                    <!--================================-->
                    <div id="mainnav-widget-search" class="mainnav-widget">
                        <div class="mainnav-widget-content">
                            <ul class="list-group mar-no">
                                <li>
                                    <form action="#">
                                        <div class="input-group">
                                            <input type="text" placeholder="search" class="form-control">
                                                <span class="input-group-btn">
                                                    <button class="btn btn-default" type="button"><i class="fa fa-search"></i></button>
                                                </span>
                                        </div>
                                    </form>
                                </li>
                            </ul>
                        </div>
                    </div>

                    <ul id="mainnav-menu" class="list-group">
                        <!--Category name-->
                        <li class="list-header">Filter</li>

                        <li>
                            <a href="#">
                                <label class="form-checkbox form-icon active"><input type="checkbox" checked> All</label>
                            </a>
                        </li>
                        <!--Menu list item-->
                        <li>
                            <a href="#">
                                <i class="fa fa-user"></i>
                                        <span class="menu-title">
                                            <strong>By User Role</strong>
                                        </span>
                                <i class="arrow"></i>
                            </a>
                            <!--Submenu-->
                            <ul class="collapse">
                                <li>
                                    <a>
                                        <label class="form-checkbox form-icon active"><input type="checkbox"> House</label>
                                    </a>
                                </li>
                                <li>
                                    <a>
                                        <label class="form-checkbox form-icon active"><input type="checkbox"> Agent</label>
                                    </a>
                                </li>
                                <li>
                                    <a>
                                        <label class="form-checkbox form-icon active"><input type="checkbox"> Self-operated</label>
                                    </a>
                                </li>
                                <li>
                                    <a>
                                        <label class="form-checkbox form-icon active"><input type="checkbox"> Guest</label>
                                    </a>
                                </li>
                            </ul>
                        </li>

                        <!--Menu list item-->
                        <li>
                            <a href="#">
                                <i class="fa fa-th"></i>
                                        <span class="menu-title">
                                            <strong>By Date Range</strong>
                                        </span>
                                <i class="arrow"></i>
                            </a>
                            <!--Submenu-->
                            <ul class="collapse">
                                <li>
                                    <a>
                                        <label class="form-checkbox form-icon active"><input type="checkbox"> Last Hour</label>
                                    </a>
                                </li>
                                <li>
                                    <a>
                                        <label class="form-checkbox form-icon active"><input type="checkbox"> Last Day</label>
                                    </a>
                                </li>
                                <li>
                                    <a>
                                        <label class="form-checkbox form-icon active"><input type="checkbox"> Last Week</label>
                                    </a>
                                </li>
                                <li>
                                    <a>
                                        <label class="form-checkbox form-icon active"><input type="checkbox"> Last Month</label>
                                    </a>
                                </li>
                            </ul>
                        </li>
                    </ul>

                </div>
            </div>
        </div>
        <!--================================-->
        <!--End menu-->

    </div>
</nav>
<!--===================================================-->
<!--END MAIN NAVIGATION-->