<div class="body-left-top-inner frt-pink bheading-12" style="margin: 15px 30px; height:50px;display: flex; align-items: center; justify-content: center;">
    <span class="input-lg">{{ 'login.heading.attractive_words'|trans({}, "ElementLogin") }}</span>
</div>