.bg-pure-black {
    background-color: #000000;
}

.bg-dark-gray {
    background-color: #1a1a1a;
}

.bg-light-gray {
    background-color: #333333;
}

.bg-charcoal {
    background-color: #4d4d4d;
}

.bg-translucent-charcoal {
    background-color: #4d4d4d;
    opacity: 0.5;
}

.frt-pink {
    color: #ff99cc;
}

.frt-light-pink {
    color: #ffcce6
}

.text-highlight {
    color: #ff66b3;
    background-color: #4d4d4d;
}

.frt-cyan-gray {
    color: #0a9dac;
}

.frt-bright-pink {
    color: #ff3296; /* for error */
}