.bsmall,
.bnormal,
.bheading,
.bheading-18,
.bheading-20,
.bheading-24,
.bheading-28 {
    font-weight: bold;
}

.small,
.bsmall {
    font-size: 12px;
}

.normal,
.bnormal {
    font-size: 14px;
}

.heading-18,
.bheading-18 {
    font-size: 18px;
}

.bheading-20,
.heading-20 {
    font-size: 20px;
}

.bheading-24,
.heading-24 {
    font-size: 24px;
}

.bheading-28,
.heading-28 {
    font-size: 28px;
}