<div class="image-row border" style="height: 130px;"></div>
<div class="image-row border" style="height: 130px;"></div>
<div class="image-row border" style="height: 130px;"></div>
<div class="image-row border" style="height: 130px;"></div>