<div class="image-row">
    <div class="pull-right border" style="width:80%;line-height: 100px;"><img src="#" alt="image"/></div>
</div>
<div class="clear-both"></div>
<div class="image-row" style="margin-top: 5px;">
    <div class="border" style="width:80%;line-height: 100px;"><img src="#" alt="image"/></div>
</div>
<div class="image-row" style="margin-top: 5px;">
    <div class="pull-right border" style="width:80%;line-height: 110px;"><img src="#" alt="image"/></div>
</div>
<div class="clear-both"></div>
<div class="image-row" style="margin-top: 5px;">
    <div class="border" style="width:80%;line-height: 110px;"><img src="#" alt="image"/></div>
</div>