{% extends "AppBundle:elements:login/login.html.twig" %}
{% block login_footer_row1 %}
    <div class="footer-col border" style="display:inline-block;float:left;height: 100%;width: 98px; text-align: center"></div>
    <div class="footer-col border" style="display:inline-block;float:left;height: 100%;width: 98px; text-align: center"></div>
    <div class="footer-col border" style="display:inline-block;float:left;height: 100%;width: 98px; text-align: center"></div>
{% endblock %}
{% block login_footer_row2 %}
    <div class="footer-col border" style="display:inline-block;float:left;height: 100%;width: 100%;"></div>
{% endblock %}
