{% trans_default_domain 'ElementLogin' %}

<div class="login-footer-row " style="height: 40px;width: 100%;">
    <div class="footer-col " style="display:inline-block;float:left;height: 100%;width: 98px; text-align: center">
        <div style="margin-top: 15px"><a class="frt-pink bnormal" href="#">{{ 'login.label.about_us'|trans }}</a></div>
    </div>
    <div class="footer-col " style="display:inline-block;float:left;height: 100%;width: 98px; text-align: center">
        <div style="margin-top: 15px"><a class="frt-pink bnormal" href="#">{{ 'login.label.contact_us'|trans }}</a></div>
    </div>
    <div class="footer-col " style="display:inline-block;float:left;height: 100%;width: 98px; text-align: center">
        <div style="margin-top: 15px"><a class="frt-pink bnormal" href="#">{{ 'login.label.privacy'|trans }}</a></div>
    </div>
</div>
<div class="footer-row " style="height: 48px;width: 100%;">
    <div class="footer-col " style="display:inline-block;float:left;height: 100%;width: 100%; text-align: center">
        <div style="margin-top: 15px"><a class="frt-pink bnormal" href="#">{{ 'login.label.copyright'|trans }}</a></div>
    </div>
</div>