<div class="login-footer-row border" style="height: 48px;width: 100%;">
	<div class="footer-col border" style="display:inline-block;float:left;height: 100%;width: 98px; text-align: center">
		<div style="margin-top: 15px"><span>About us</span></div>
	</div>
	<div class="footer-col border" style="display:inline-block;float:left;height: 100%;width: 98px; text-align: center">
		<div style="margin-top: 15px"><span>Contact us</span></div>
	</div>
	<div class="footer-col border" style="display:inline-block;float:left;height: 100%;width: 98px; text-align: center">
		<div style="margin-top: 15px"><span>Privacy</span></div>
	</div>
</div>
<div class="footer-row border" style="height: 48px;width: 100%;">
	<div class="footer-col border" style="display:inline-block;float:left;height: 100%;width: 100%; text-align: center">
		<div style="margin-top: 15px"><span>Copyright All Reserved 2014</span></div>
	</div>
</div>