<html class="" lang="en">
<head>
    <!--<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css">-->
    <link rel="stylesheet" href="layout.css">
</head>
<body>
<div style="min-width: 1024px; min-height: 768px;">
    <div class="lobby-header border" style="height: 60px;"></div>
    <div class="lobby-cover-container border" style="height: 220px"></div>
    <div class="lobby-body border">
        <div class="lobby-body-container border" style="margin: 10px auto; width: 980px; overflow: hidden; height: auto;">
            <div class="lobby-body-left border" style="float: left; display: inline-block; margin-left: 0; width: 200px; height: auto;"></div>
            <div class="lobby-body-right border" style="display: inline-block; margin-left: 10px; width: 766px; height: 100%;">
                <!--this is the layout of person detail page, right part-->
                <div class="person-detail-inner-left border" style="width: 381px; height: auto; display: inline-block; float: left;"></div>
                <div class="person-detail-inner-right border" style="width: 381px; height: auto; display: inline-block; float: left;"></div>
            </div>
        </div>
    </div>
</div>
</body>
</html>