<html class="" lang="en">
<head>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="../layout.css">

    <!-- <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap-theme.min.css"> -->
</head>
<body>
    <div class="loginGuide-header border" style="min-width: 1024px; height: 80px"></div>
    <div class="loginGuide-body border" style="min-width: 1024px; height: 580px">
        <div class="loginGuide-body-container border" style="margin-left: auto; margin-right: auto; width: 980px; height: 100%;">
            <div class="loginGuide-body-left border" style="display: inline-block; float: left;width: 50%; height: 100%">
                <div class="loginGuide-body-row border" style="height: 150px;"></div>
                <div class="loginGuide-body-row border" style="height: 280px;">
                    <div class="loginGuide-body-inner-row border" style="height: 140px;"></div>
                    <div class="loginGuide-body-inner-row border" style="height: 140px;"></div>
                </div>
                <div class="loginGuide-body-row border" style="height: 150px;"></div>
            </div>
            <div class="loginGuide-body-right border" style="display: inline-block; float: left;width: 50%; height: 100%">
                <div class="loginGuide-body-row border" style="height: 150px;"></div>
                <div class="loginGuide-body-row border" style="height: 280px;">
                    <div class="loginGuide-body-inner-row border" style="height: 140px;"></div>
                    <div class="loginGuide-body-inner-row border" style="height: 140px;"></div>
                </div>
                <div class="loginGuide-body-row border" style="height: 150px;"></div>
            </div>
        </div>
    </div>
</body>
</html>