{% extends "AppBundle:layout:login/login.html.twig" %}

{% block login_header %}
    <div class="login-header-container border" style="margin-left: auto; margin-right: auto; width: 980px; height: 80px;">
        <div class="login-header-logo-box border" style="width:100px;height:100%;display: inline-block;">
            {% block login_header_logo_box %} {% endblock %}
        </div>
        <div class="login-header-input-box border" style="float:right;width:600px;height:100%; display: inline-block;">
            {% block login_header_input_box %} {% endblock %}
        </div>
    </div>
{% endblock %}

