<div class="login-header-container border" style="margin-left: auto; margin-right: auto; width: 980px; height: 80px;">
    <div class="login-header-logo-box border" style="width:100px;height:100%;display: inline-block;">
        {# logo #}
    </div>
    <div class="login-header-input-box border" style="float:right;width:600px;height:100%; display: inline-block;">
        {% include "AppBundle:elements:login/header/login-input/inline-input-header.html.twig" %}
    </div>
</div>