<div class="login-header-container" style="margin-left: auto; margin-right: auto; padding-top:10px; padding-bottom: 10px;width: 980px; overflow: hidden">
    <div class="login-header-logo-box" style="width:100px;height:100%;display: inline-block;">
        {% include "AppBundle:elements:login/header/logo/logo.html.twig" %}
    </div>
    <div class="login-header-input-box pull-right">
        {% include "AppBundle:elements:login/header/login-input/inline-input-header.html.twig" %}
    </div>
</div>