/* overwritten */

/* chosen */
.chosen-container-multi .chosen-choices li.search-field input[type=text] {
    color: #7D7D7D;
    padding-left: 7px;
}
.chosen-container {
    margin-bottom: 0;
}

.chosen-container-single .chosen-single {
    border-radius: 0;
    height: 29px;
    line-height: 29px;
    background: #FFFFFF;
}
/* chosen */

/* boostrap and nifty */

/**
    solve the issue gap between two columns that contain calendar and photo preview panel
    is too wide
*/
[class^="col-"]:not(.pad-no) {
    padding-left: 0;
}

/* It is for changing the background color defined in both boostrap and nifty to dark */
/*.table-striped>tbody>tr:nth-of-type(odd),  /* boostrap */
/*#container .table-striped > tbody > tr:nth-child(2n+1) {  /* nifty */
    /*background-color: #3a3a3a;*/
/*}*/

/*#container .table.dataTable tbody tr.selected {*/
    /*background-color: #5e354b;*/
/*}*/

/* boostrap */
.img-responsive {
    margin-left: auto;
    margin-right: auto;
    max-height: 600px;
}

/* nifty - reset back to boostrap */
.modal-dialog {
    margin: 30px auto;
}

#floating-top-right {
    top: 60px;
}
#container .fc-unthemed .fc-today {
    background-color: #2285a0;
}
.input-group-addon {
    background-color: #eee;
}

/* change the dot color of radio button */
fieldset:not([disabled]) .form-radio.form-normal:not(.disabled):hover:after,
fieldset:not([disabled]) .form-radio.form-normal.active:after,
.form-radio.form-normal:not(.disabled):hover:after,
.form-radio.form-normal.active:after {
    background-color: #c3cedb;
}
/* end nifty */

/* end overwritten */

textarea {
    resize: vertical;
}

.girl-acceptable-opt-panel-title {
    font-size: 1em;
}
.girl-acceptable-opt-panel-control {
    line-height: 40px;
}
.detail-wrapper {
    width: 950px;
}
.photo-preview-box {
    min-height: 400px;
}

@media (max-width: 768px) {
    /** reset back to default value - nifty */
    [class^="col-"]:not(.pad-no) {
        padding-right: 5px;
    }
}

@media (max-width: 950px) {
    /* overwritten */

    /** fix the issue in which calendar's header is squeezed
    together when window is in mobile size - nifty */
    #container .fc-toolbar .fc-left {
        float: left;
    }
    #container .fc-toolbar .fc-center {
        display: inline-block;
    }
    #container .fc-toolbar .fc-right {
        float: right;
    }
    /* end - overwritten */

    .photo-preview-box {
        height: 100%;
    }

    .photo-preview-box,
    .detail-wrapper {
        width: 100%;
    }
}
