.no-pad {
    padding: 0;
}
.no-pad-top {
    padding-top: 0;
}
.no-pad-btm {
    padding-bottom: 0;
}
.no-pad-lft {
    padding-left: 0;
}
.no-pad-rgt {
    padding-right: 0 !important;
}
.no-pad-hor {
    padding-left: 0;
    padding-right: 0;
}
.no-pad-ver {
    padding-top: 0;
    padding-bottom: 0;
}
.pad-top-5 {
    padding-top: 5px;
}
.pad-top-10 {
    padding-top: 10px;
}
.pad-btm-5 {
    padding-bottom: 5px;
}
.pad-btm-10 {
    padding-bottom: 10px;
}
.pad-lft-5 {
    padding-left: 5px;
}
.pad-lft-10 {
    padding-left: 10px;
}
.pad-rgt-5 {
    padding-right: 5px !important;
}
.pad-rgt-10 {
    padding-right: 10px;
}
.pad-ver-5 {
    padding-top: 5px;
    padding-bottom: 5px;
}
.pad-ver-10 {
    padding-top: 10px;
    padding-bottom: 10px;
}
.pad-hor-5 {
    padding-left: 5px;
    padding-right: 5px;
}
.pad-hor-10 {
    padding-left: 10px;
    padding-right: 10px;
}
.pad-no-top-but-btm-5 {
    padding-top: 0;
    padding-bottom: 5px;
}
.pad-only-btm-5 {
    padding: 0 0 5px 0;
}

.pad-all-5 {
    padding: 5px;
}
.pad-all-10 {
    padding: 10px;
}

/* margin */
.no-mar {
    margin: 0;
}
.no-mar-top {
    margin-top: 0;
}
.no-mar-lft {
    margin-left: 0;
}
.no-mar-rgt {
    margin-right: 0;
}
.no-mar-btm {
    margin-bottom: 0;
}
.no-mar-ver {
    margin-top: 0;
    margin-bottom: 0;
}
.no-mar-hor {
    margin-left: 0;
    margin-right: 0;
}
.mar-rgt-5 {
    margin-right: 5px;
}
.mar-rgt-10 {
    margin-right: 10px;
}
.mar-rgt-40 {
    margin-right: 40px;
}
.mar-lft-5 {
    margin-left: 5px;
}
.mar-lft-10 {
    margin-left: 10px;
}
.mar-top-5 {
    margin-top: 5px;
}
.mar-top-10 {
    margin-top: 10px;
}
.mar-btm-5 {
    margin-bottom: 5px;
}
.mar-btm-10 {
    margin-bottom: 10px;
}
.mar-ver-5 {
    margin-top: 5px;
    margin-bottom: 5px;
}
.mar-ver-10 {
    margin-top: 10px;
    margin-bottom: 10px;
}
.mar-hor-5 {
    margin-left: 5px;
    margin-right: 5px;
}
.mar-hor-10 {
    margin-left: 10px;
    margin-right: 10px;
}
.mar-all-5 {
    margin: 5px;
}
.mar-all-10 {
    margin: 10px;
}

/* border */
.no-border {
    border: 0;
}
.border-solid-trans {
    border: 1px solid transparent;
}
.border-dotted-dark {
    border: 1px dotted #333333;
}
.border-dotted-2x-dark {
    border: 2px dotted #333333;
}
.border-btm-solid-dark-4a {
    border-bottom: 1px solid #4a4a4a !important;
}

/* border-shadow */
.no-border-shadow {
    box-shadow: 0 0 0 rgba(0, 0, 0, 0);
    -moz-box-shadow: 0 0 0 rgba(0, 0, 0, 0);;
    -webkit-box-shadow: 0 0 0 rgba(0, 0, 0, 0);;
}

/* overwritten content-container */
#content-container {
    background-color: #000000;
}

/**
 *  It is for solving the issue in which tool tip on control button in panel header
 *  can not display correctly as by default overflow is set to 'hidden' by nifty
 **/
.panel-group.accordion .panel:last-child {
    overflow: visible;
}