
<html class="" lang="en">
	<head>
		<link rel="stylesheet" href="../layout.css">
		
		<!-- <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap-theme.min.css"> -->
	</head>
	<body>
		<!-- height:80px should be removed late, this div should be included inside main layout -->
		<div class="header-container border" style="margin-left: auto; margin-right: auto; width: 980px; height: 80px;">
			<div class="header-logo border" style="width:100px;height:100%;display: inline-block;"></div>
			<div class="header-input-box border" style="float:right;width:600px;height:100%; display: inline-block;"></div>
		</div>
	</body>
</html>