{# step and steps both are required #}
<div class="reg-wizard-header-steps-indicator" style="line-height: 70px">
    <img src="#" alt="logo" />
    <span class="steps-indicator frt-pink" style="margin-left: 15px;"> {{ 'registration.wizard.steps'|trans({}, 'ElementRegistration') }} {{ step }} / {{ steps }}</span>
</div>