/* overwritten page-content */
#page-content {
    padding: 15px;
}

#content-container {
    background-color: #000000;
}

.user-profile-body {
    position:relative;
    padding: 10px 15px 15px 90px;
}
.user-profile-body > .user-profile-img {
    position:absolute;
    top:-32px;left:45px;
}
.user-profile-name {
    position: absolute;
}

.timeline-comment-item {
    margin-bottom: 20px;
}