/* overwritten content-container */
/*#content-container {*/
    /*background-color: #000000;*/
/*}*/
/* overwritten page-content */
#page-content {
    padding: 15px;
}

/*.form-search {*/
    /*float: left;*/
    /*margin-right: 10px;*/
    /*margin-top: 0;*/
    /*position: relative;*/
/*}*/

/*search*/
/*.form-search .form-control {*/
    /*width: 15px;*/
    /*height: 30px;*/
    /*-webkit-transition:all .3s ease;*/
    /*-moz-transition:all .3s ease;*/
    /*-ms-transition:all .3s ease;*/
    /*-o-transition:all .3s ease;*/
    /*transition:all .3s ease;*/
    /*border:1px solid #4d4d4d;*/
    /*box-shadow:none;*/
    /*background: url("../img/icon/search.png") no-repeat 8px center;*/
    /*padding:0 0 0 30px;*/
    /*color:#fff;*/
    /*border-radius:50px;*/
    /*-webkit-border-radius:50px;*/
/*}*/

/*.form-search .form-control:focus {*/
    /*width:180px;*/
    /*border:1px solid #4d4d4d;*/
    /*box-shadow:none;*/
    /*-webkit-transition:all .3s ease;*/
    /*-moz-transition:all .3s ease;*/
    /*-ms-transition:all .3s ease;*/
    /*-o-transition:all .3s ease;*/
    /*transition:all .3s ease;*/
    /*color:#c8c8c8;*/
/*}*/

.isotope,
.isotope .isotope-item {
   /*change duration value to whatever you like*/
    -webkit-transition-duration: 0.5s;
    -moz-transition-duration: 0.5s;
    -ms-transition-duration: 0.5s;
    -o-transition-duration: 0.5s;
    transition-duration: 0.5s;
}

.isotope {
    -webkit-transition-property: height, width;
    -moz-transition-property: height, width;
    -ms-transition-property: height, width;
    -o-transition-property: height, width;
    transition-property: height, width;
}

.isotope .isotope-item {
    -webkit-transition-property: -webkit-transform, opacity;
    -moz-transition-property: -moz-transform, opacity;
    -ms-transition-property: -ms-transform, opacity;
    -o-transition-property: -o-transform, opacity;
    transition-property: transform, opacity;
}
