.status-textarea {
    resize: none;
}
.status-preview-content {
    float: left;
    position:relative;
    padding: 5px;
}
.status-preview-content > div > .dz-remove {
    position:absolute;
    top: 0;
    left: 50px;
}
.dz-remove > i:hover,
.dz-remove > i:active {
    color: #999999;
}