.status-textarea {
    resize: none;
}
.status-preview-content {
    float: left;
    position:relative;
    padding: 5px;
}
.status-preview-content > div > .status-preview-dismiss {
    position:absolute;
    top: 0;
    left: 50px;
}
.status-preview-dismiss > i:hover,
.status-preview-dismiss > i:active {
    color: #999999;
}