<html class="" lang="en">
	<head>
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css">
		<link rel="stylesheet" href="../layout.css">
	</head>
	<body>
		<!-- this is the layout only for header, body should be removed later -->
		<div>
			<div class="header border" style="min-width: 1024px; height: 250px">
				<div class="header-container border" style="margin: 10px auto; width: 980px; height: 230px;">
					<div class="header-top border" style="height: 180px; width: 100%;"></div>
					<div class="header-bottom border" style="width: 100%;"></div>
				</div>
			</div>
			<div class="body border" style="min-width: 1024px; height: 510px"></div>
		</div>
	</body>
</html>