<html class="" lang="en">
<head>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="../layout.css">

    <!-- <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap-theme.min.css"> -->
</head>
<body>
<div>
    <div class="login-header border" style="min-width: 1024px; height: 80px"></div>
    <div class="login-body border" style="min-width: 1024px; height: 580px"></div>
    <div class="login-footer border" style="min-width: 1024px; height: 100px">
        <div class="login-footer-container border" style="margin-left: auto; margin-right: auto; margin-top:660px;width: 980px; height: 100px;">
            <div class="login-footer-info border" style="margin-left:auto; margin-right:auto;width:300px;height:100%;"></div>
        </div>
    </div>
</div>
</body>
</html>