{% trans_default_domain 'ElementRegistration' %}

<form class="form-horizontal" autocomplete="off">
    <div class="row">
        <div class="col-xs-12">
            <div role="tabpanel">
                <ul class="nav nav-tabs" role="tablist">
                    <li role="presentation" class="active">
                        <a href="#detail" aria-controls="home" role="tab" data-toggle="tab">{{ 'registration.wizard.tab.title.detail'|trans }}</a>
                    </li>
                    <li role="presentation">
                        <a href="#contact" aria-controls="profile" role="tab" data-toggle="tab">{{ 'registration.wizard.tab.title.contact'|trans }}</a>
                    </li>
                </ul>
                <div class="tab-content">
                    <div role="tabpanel" class="tab-pane active" style="padding: 10px;" id="detail">
                        {% include 'AppBundle:elements:registration/wizard/profile/detail/profile-detail.html.twig' with {firstName: firstName, lastName: lastName}%}
                    </div>
                    <div role="tabpanel" class="tab-pane" style="padding: 10px;" id="contact">
                        {% include 'AppBundle:elements:registration/wizard/profile/contact/profile-contact.html.twig' with {email: email}%}
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-xs-12">
            <button type="submit" id="saveProfile" name="saveProfile" class="btn bg-light-gray frt-light-pink">{{ 'registration.wizard.button.save_profile'|trans }}</button>
            <span style="margin-left: 10px;" class="small"><a href="#">{{ 'registration.wizard.link.skip'|trans }}</a></span>
        </div>
    </div>
</form>