{% extends "AppBundle:layout:loginGuide/share/page-header/pageHeader.html.twig" %}

{% trans_default_domain 'ElementGuide' %}

{% block loginGuide_header %}
    <div class="loginGuide-header-container" style="width: 980px; margin: auto; padding: 0px 30px; ">
        <p class="frt-pink">{{ 'Guide.steps.step1'|trans }}</p>
    </div>
{% endblock %}