<html class="" lang="en">
<head>
    <!--<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css">-->
    <link rel="stylesheet" href="../layout.css">
</head>
<body>
<div style="min-width: 1024px; min-height: 768px;">
    <div class="userProfile-header border" style="height: 60px;"></div>
    <div class="userProfile-cover-container border" style="height: 220px"></div>
    <div class="userProfile-body" style="margin: 10px auto; width: 980px; overflow: hidden">
        <div class="userProfile-row border" style="height: 100px; margin-bottom: 10px;"></div>
        <div class="userProfile-row border" style="height: 300px; margin-bottom: 10px;"></div>
        <div class="userProfile-row border" style="overflow: hidden; height: auto;">
            <div class="userProfile-follower-title border" style="height: 30px;"></div>
            <div class="userProfile-followers-container border" style="overflow: hidden; height: auto;">
                <div class="userProfile-followers-row border" style="overflow: hidden; height: auto;">
                    <div class="userProfile-follower border" style="width: 213px; height: 180px; margin: 10px 5px 10px 10px; display: inline-block; float: left;"></div>
                    <div class="userProfile-follower border" style="width: 213px; height: 180px; margin: 10px 5px; display: inline-block; float: left;"></div>
                    <div class="userProfile-follower border" style="width: 213px; height: 180px; margin: 10px 5px; display: inline-block; float: left;"></div>
                    <div class="userProfile-follower border" style="width: 213px; height: 180px; margin: 10px 5px; display: inline-block; float: left;"></div>
                </div>
                <!--<div class="userProfile-followers-row border" style="overflow: hidden; height: auto;">-->
                    <!--<div class="userProfile-follower border" style="width: 213px; height: 180px; margin: 10px 15px; display: inline-block; float: left;"></div>-->
                    <!--<div class="userProfile-follower border" style="width: 213px; height: 180px; margin: 10px 15px; display: inline-block; float: left;"></div>-->
                    <!--<div class="userProfile-follower border" style="width: 213px; height: 180px; margin: 10px 15px; display: inline-block; float: left;"></div>-->
                    <!--<div class="userProfile-follower border" style="width: 213px; height: 180px; margin: 10px 15px; display: inline-block; float: left;"></div>-->
                <!--</div>-->
            </div>
        </div>
        <div class="userProfile-row border" style="height: 40px;"></div>
    </div>
</div>
</body>
</html>