<div class="login-body-right-container border" style="clear:both; width: 80%; height:100%;">
    <div class="login-body-right-top-box border" style="height: 100px">
        {% include "AppBundle:elements:login/body/body-right/body-right-top/subtitle.html.twig" %}
    </div>
    <div class="login-body-right-bottom-box border" style="height: 474px">
        {% include "AppBundle:elements:login/body/body-right/body-right-bottom/five-rows.html.twig" %}
    </div>
</div>