<div class="login-body-right-container " style="clear:both; width: 100%; height:100%;">
    <div class="login-body-right-top-box">
        {% include "AppBundle:elements:login/body/body-right/body-right-top/heading.html.twig" %}
    </div>
    <div class="login-body-right-bottom-box " style="height: 474px">
        {% include "AppBundle:elements:login/body/body-right/body-right-bottom/five-rows.html.twig" %}
    </div>
</div>