{% extends "AppBundle:layout:login/login.html.twig" %}
{% block login_footer_info %}
    <div class="login-footer-row1 border" style="height: 48px;width: 100%;">
        {% block login_footer_row1 %}{% endblock %}
    </div>
    <div class="login-footer-row2 border" style="height: 48px;width: 100%;">
        {% block login_footer_row2 %}{% endblock %}
    </div>
{% endblock %}