{% trans_default_domain 'ElementGuide' %}

<div class="loginGuide-body-row" style="height: 150px;">
    <h2 class="frt-pink" style="font-size: 30px; line-height: 1.2em; margin-top: 50px;">{{ 'Guide.sayHello'|trans }} Justin</h2>
</div>
<div class="loginGuide-body-row" style="height: 280px;">
    <div class="loginGuide-body-inner-row border" style="height: 140px;">
        <p class="frt-light-pink" style="font-size: 22px;">{{ 'Guide.introduction'|trans }}</p>
    </div>
    <div class="loginGuide-body-inner-row" style="height: 140px;">
        <p class="frt-light-pink" style="font-size: 22px;">{{ 'Guide.help'|trans|raw }}</p>
    </div>
</div>
<div class="loginGuide-body-row" style="height: 150px;">
    <button class="btn btn-lg bg-light-gray frt-light-pink" type="button">{{ 'Guide.button.letsgo'|trans }}</button>
</div>