<div class="body-right-bottom-row border" style="height: 70px;width: 100%;">
	<div class="body-right-bottom-col border" style="height: 100%;width: 100%">
		<input type="text" style="width:300px; height: 30px; margin: 20px 5px 0px;" name="usernameOrEmail">
	</div>
</div>
<div class="body-right-bottom-row border" style="height: 70px;width: 100%;">
	<div class="body-right-bottom-col border" style="height: 100%;width: 100%">
		<input type="text" style="width:300px; height: 30px; margin: 20px 5px 0px;" name="re-enter">
	</div>
</div>
<div class="body-right-bottom-row border" style="height: 70px;width: 100%;">
	<div class="body-right-bottom-col border" style="height: 100%;width: 100%">
		<input type="text" style="width:300px; height: 30px; margin: 20px 5px 0px;" name="password">
	</div>
</div>
<div class="body-right-bottom-row border" style="height: 120px;width: 100%;">
	<div class="body-right-bottom-col border" style="height: 100%;width: 100%">
		<input type="radio" name="practitioner" style="float: left">
		<label style="float: left">I am a practitioner</label>
		<input type="radio" name="client" style="float: left; clear: both;">
		<label style="float: left">I am a client</label>
	</div>
</div>
<div class="body-right-bottom-row border" style="height: 70px;width: 100%;">
	<div class="body-right-bottom-col border" style="height: 100%;width: 100%">
		<input type="submit" name="signin" style="width:50%; height: 35px; padding: 10px;" value="Sign up now"/>
	</div>
</div>