<div class="body-right-bottom-row " style="height: 70px;width: 100%;">
	<div class="body-right-bottom-col border" style="height: 100%;width: 100%">
		<label>
			<input type="text" style="width:300px; height: 30px; margin: 20px 5px 0;" name="usernameOrEmail">
		</label>
	</div>
</div>
<div class="body-right-bottom-row " style="height: 70px;width: 100%;">
	<div class="body-right-bottom-col border" style="height: 100%;width: 100%">
		<label>
			<input type="text" style="width:300px; height: 30px; margin: 20px 5px 0;" name="re-enter">
		</label>
	</div>
</div>
<div class="body-right-bottom-row " style="height: 70px;width: 100%;">
	<div class="body-right-bottom-col border" style="height: 100%;width: 100%">
		<label>
			<input type="text" style="width:300px; height: 30px; margin: 20px 5px 0;" name="password">
		</label>
	</div>
</div>
<div class="body-right-bottom-row " style="overflow:hidden;">
	<div class="body-right-bottom-col " style="height: 100%;width: 100%">
		<input id="practitioner" type="radio" name="role" style="float: left">
		<label style="float: left" for="practitioner">I am a practitioner</label>
		<input id="client" type="radio" name="role" style="float: left; clear: both;">
		<label style="float: left" for="client">I am a client</label>
	</div>
</div>
<div class="body-right-bottom-row " style="height: 70px;width: 100%;">
	<div class="body-right-bottom-col " style="height: 100%;width: 100%">
		<input type="submit" name="signin" style="width:50%; height: 35px; padding: 10px;" value="Sign up now"/>
	</div>
</div>