<html class="" lang="en">
	<head>
		<!-- <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css"> -->
		<link rel="stylesheet" href="../layout.css">
	</head>
	<body>
		<div style="min-width: 1024px; min-height: 768px;">
			<div class="header border" style="height: 60px;"></div>
			<div class="cover-container border" style="height: 220px"></div>
			<div class="body border">
				<!-- this is the layout for the body, others should be removed -->
				<div class="body-container border" style="margin: 10px auto; width: 980px; overflow: hidden">
					<div class="body-left border" style="float: left; display: inline-block; margin-left: 0; width: 200px; height: 100%;"></div>
					<div class="body-right border" style="display: inline-block; margin-left: 10px; width: 766px; height: 100%;"></div>
				</div>
			</div>
		</div>
	</body>
</html>