{% trans_default_domain 'ElementLogin' %}

<div class="body-right-top-inner " style="margin-top: 15px; margin-bottom: 15px; height:50px; align-items: center; justify-content: center;">
    <p class="frt-pink bheading-20">{{ 'login.heading.join_us_today'|trans }}</p>
    <p class="frt-light-pink">{{ 'login.heading.it_is_free'|trans }}</p>
</div>