<div class="panel bg-dark panel-colorful">

    <!-- Accordion title -->
    <div class="panel-heading border-btm-solid-dark-4a">
        <div class="panel-control girl-acceptable-opt-panel-control">
            <a class="btn btn-link">
                <i class="fa fa-plus-square fa-fw fa-lg text-dark text-hover-info"></i>
            </a>
        </div>

        <h4 class="panel-title">
            <a data-parent="#{{ accordionParent }}" data-toggle="collapse" href="#services-panel">
                <span class="text-lg">Services</span>
            </a>
        </h4>
    </div>

    <!-- Accordion content -->
    <div class="panel-collapse collapse" id="services-panel">
        <div class="panel-body no-pad-top">
            <div class="panel-group accordion" id="services-panel-group">
                {% for service in services %}
                    {% include 'AppBundle:elements:girl/acceptable-option-item.html.twig' with {
                        accordionParent: 'services-panel-group',
                        option: service,
                        isFirst: loop.index == 1
                    } %}
                {% endfor %}
            </div>
        </div>
    </div>
</div>