{% extends "::base.html.twig" %}

{% block body %}
	<div>
		<div class="login-header " style="min-width: 1024px; height: 80px">
			{% include 'AppBundle:layout:login/header/header.html.twig' %}
		</div>
		<div class="login-body " style="min-width: 1024px; height: 580px">
			{% include "AppBundle:layout:login/body/body.html.twig" %}
		</div>
		<div class="login-footer " style="min-width: 1024px; height: 100px">
			{% include "AppBundle:layout:login/footer/footer.html.twig" %}
		</div>
	</div>
{% endblock %}