{% extends "::base.html.twig" %}

{% block body %}
    <div class="bg-pure-black">
        <div class="login-header bg-dark-gray border-bottom" style="min-width: 1024px;">
            {% include 'AppBundle:layout:login/header/header.html.twig' %}
        </div>
        <div class="login-body bg-dark-gray" style="min-width: 1024px; height: 580px">
            {% include "AppBundle:layout:login/body/body.html.twig" %}
        </div>
        <div class="login-footer " style="min-width: 1024px; height: 100px">
            {% include "AppBundle:layout:login/footer/footer.html.twig" %}
        </div>
    </div>
{% endblock %}